[submodule "submodules/vueties"]
	path = submodules/vueties
	url = git@github.com:xtiandiaz/vueties.git
[submodule "submodules/tungsten"]
	path = submodules/tungsten
	url = git@github.com:xtiandiaz/tungsten.git
